**/node_modules
**/*.log
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
backend/prisma/dev.db
backend/prisma/dev.db-journal
backend/prisma/dev.db-wal
backend/prisma/dev.db-shm
backend/server.log
backend/studio.log
webapp/node_modules
webapp/dist
.git
.cache
coverage
dist
out
